
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Inria+Sans&display=swap');

*{ box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inria Sans', sans-serif;
  font-size:18px;
  justify-content:center;
}

body.dark-mode {
  background-color: black;
  color: white;
}
.modoOscuro{
  border-radius: 3px;
  font-size: 12px;
  border-color: transparent;
  padding: 0.5%;
  background-color: #ffffff;
  margin-right: 3%;

}



.header {
    display:flex;
    background-color:#BFEE9A;
    justify-content:flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    word-spacing: 40px;
}

.header .logo{
  margin-right:auto;
}

.header .logo img{
  height: 75px;
  width: auto;
}

.header .navlinks{
  list-style:none;
}

.header .navlinks li {
  display:inline-block;
  padding:0 20xp;
}
.header .navlinks li:hover{transform: scale(1.1);}

.header .navlinks a{
  font-size:700;
  color:black;
  text-decoration: none;
}

header .navlinks a:hover{
  color: white;
}

.styleArticle{
  display: flex;
  align-items: center;
  position: relative;
  font-size: 5px;
  margin-right: 2px;
  margin-top: -6rem;
  margin-bottom: 15rem;

}

.mockup{
  height: 30rem;
  width: auto;
  margin-left:58rem;
  margin-top: 5rem;
  align-items: end; 
  position: relative;
  display: flex;

}

h1{
font-size: 30px;
padding-bottom: 20px;
}

.styleparrafo{
  align-items: center;
  margin-right: 22rem;
  margin-top: -20rem;
  
}


.liststyle {
  padding: 10px;
  padding-left: 50px;
}

.boton {
  background-color:#FFD53F;
  padding: 10px 20px;
  border:0;
  border-radius:30px;
  width: 300px;
  height: auto;
  cursor: pointer;
  margin-left: 30px;
}

.boton-efecto{
  transition: transform 0.3s ease-in-out;
}
.boton-efecto:hover{
  transform: scale(1.1);
}

.boton2 {
  background-color:#FFD53F;
  padding: 1rem 1rem;
  border:0;
  border-radius:30px;
  width: 300px;
  height: auto;
  cursor: pointer;
  align-items: center;
  margin: 6rem;
  margin-left: 45rem;
  margin-top: -2rem;
  
}

.publicacion{
  z-index: 10;
  margin:2rem 2rem 4rem 47rem;
  font-weight: bold;
  margin-top: -2rem;
}

.titulo2{
  text-align: center;
  padding:5rem, 10rem;
  margin-top: 5rem;
  font-size: 24px;
  font-weight: bold;
  
}

.estilotitulares{
  display: flex;
  list-style: none;
  padding-top: 20px
}

.estilotitulares li{
padding-left:140px;
padding-bottom: 100px;

}


.footerstyle{
  display:flex;
  background-color:#BFEE9A;
  align-items: center;
  height: 150px;
  padding: 5px 10%;
}


.footer1{
  font-weight: bold;
}

.footer2{
  font-weight: bold;
  padding-left: 200px;}


.socialmedia{
  padding-left:400px;

}
.textosocialmedia{
  padding-left:10px;
  font-weight: bold;
  padding-bottom: 10px;
}

.iconos{
  margin-left: 10px;
}


/*------------CARRUSEL 2-----*/


.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 25px 30px;
  margin-left: -20px;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .image {
  width: 150px;
  height: 150px;
  padding: 2px;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 20px;
}
.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.card h3 {
  text-align: center;
}
.card p {
  color: rgb(0, 0, 0);
  text-align: center;
}
.swiper-container {
  position: relative;
  margin: 5rem 10rem 10rem 4rem;
  width: 90%;
}
.swiper {
  margin: 1rem 1rem;
  cursor: grab;
  color: #FFD53F;
  height: auto;

}

.swiper-wrapper{
  margin: 28px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  
}
.swiper-button-next:hover {
  transform: scale(1.2) translateX(80%);
}
.swiper-button-prev:hover {
  transform: scale(1.2) translateX(-80%);
}
.swiper-button-next {
  transform: translateX(90%);
}
.swiper-button-prev {
  transform: translateX(-90%);
}
.swiper-pagination {
  transform: translateY(280%);
}
.swiper-pagination-bullet {
  background: #757474;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  padding: 0.2rem;

}



  



/*----------------Menu hamburguesa-------*/


.menu_hamburguesa {
  border-style: none;
  background: transparent;
  display: none;
}


.menu_desplegable {
  display: none; /* para que se oculte al principio*/
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #fff; /* Color de fondo del menú */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  flex-direction: column;

}

/* Estilos para los elementos del menú desplegable */
.menu_desplegable a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000000; 
}

/* Estilos para los elementos del menú desplegable al pasar el ratón sobre ellos */
.menu_desplegable a:hover {
  background-color: #BFEE9A; /* Cambia el color de fondo al pasar el ratón */
}

/* Muestra el menú desplegable cuando el menú hamburguesa está activo */
.menu_hamburguesa.active + .menu_desplegable {
  display: block;
}


/*----------------Menu hamburguesa-------*/





@media only screen and (max-width: 767px) {


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
  
}
h1{
  font-size: 15px;
}
  
  .header.navlinks{
    display: none;
  }
  .header .navlinks-active{
    list-style:none;
    display: none;
  }
  

  .show {
    display: block !important;
  }

  .menu_hamburguesa{
    display: block;
    cursor: pointer;
  }
  

  .mockup{
    display: flex;
    height: 19rem;
    width: auto;
    margin-left:8rem;
    margin-top: 1rem;
    padding-top: 1rem;
    align-items: end; 
  
  }


  .styleArticle{
    font-size: 7px;
    align-items: center;
    margin-left:95%;
    position: relative;
    margin-top: 20rem;
    margin-bottom: 1rem;
  }

.boton
{
  margin-right:1rem;
}
.boton2{
  margin-bottom: 4rem;
  padding:0.5rem;
  margin-top: 2rem;
  margin-left:3rem;
  margin-right: 0rem;
}

h2 {
  margin-right: -14rem;
  margin-left: -3rem;
  margin-top: 3rem;
   }


  /*ajustando estilos del footer*/

  .footerstyle{
    position: relative;
    display:flex;
    flex-direction: column;
    background-color:#BFEE9A;
    align-items: center;
    height: 18rem;
    padding: 5px 10%;
    bottom:0;
    z-index: -1;
    max-width: 767px;
  }

  .publicacion{
    z-index: 10;
    margin-left: 10rem;
    font-weight: bold;
    margin-top: -2rem;
  }
  

  .footer1{

    font-weight: bold;
    font-size: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: -9rem;
  }
  
  .footer2{
    font-weight: bold;
    padding-left: 10px;
  }
  
  
  .socialmedia{
    padding-left:1rem;
  
  }
  .textosocialmedia{
    padding-right:7rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 0.5rem;
  }

/*-----------------estilo para carrusel en movil -----------*/
  .card{
    margin-right: 0.8rem;
  }
  .swiper-button-next {
    transform: translateX(90%);
    margin-right: 22px;
  }
  .swiper-button-prev {
    transform: translateX(-90%);
    margin-right: 26px;
  }

  .swiper-pagination {
    transform: translateY(320%);
    margin-right: 2rem;

  
}

.swiper-container {
  position: relative;
  margin: 5rem 7.5rem -7rem 4rem;
  width: 75%;
  margin-bottom: 10rem;;
}
.card{
  margin-right: 3rem;
}

}

  






